:root
{
    --accentColour: rgb(123, 122, 163);
}

body
{
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    min-width: 800px;

    margin: 0;
    padding: 0;

    background-color: rgb(38, 30, 43);

    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
    color: white;
}

h1, h2, h3, h4, h5, h6
{
    margin: 0;
}

a
{
    text-decoration: none;
    color:rgb(90, 51, 230);
}
a:hover
{
    color: rgb(235, 57, 235);
}

/*
* Cover
*/

#cover-container
{
    box-sizing: border-box;

    width: 100%;
    height: 60%;

    min-width: 800px;
    min-height: 500px;

    margin: 0;
    padding: 0;

    background-image: url("../images/cover_image.png");
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}

#cover-body
{
    box-sizing: border-box;

    width: 100%;
    height: 100%;

    margin: auto;
    padding: 20px;

    background-color: rgba(20, 0, 20, 0.5);

    text-align: center;
}

#cover-description
{
    box-sizing: border-box;

    width: 70%;

    min-width: 700px;

    margin: 5% auto;
    padding: 25px;

    border: 2px solid var(--accentColour);
    border-radius: 30px;

    background-color: rgba(32, 30, 46, 0.5);

    color: white;

    text-align: left;
}
#cover-description h1
{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 40pt;

    text-align: left;
}
#cover-description h2
{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 16pt;
    font-style: oblique;

    text-align: left;
}

#cover-links
{
    text-align: left;
}
#cover-links img
{
    width: 32px;
	height: auto;

	padding: 5px;
}

/* 
* Category Links
*/

#category-title
{
    box-sizing: border-box;

    width: 100%;

    padding: 10px;

    border-top: 2px solid black;
    border-bottom: 2px solid black;

    background-color: var(--accentColour);

    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;

    text-align: center;
}

#category-menu
{
    display: none; /* DISABLED TEMPORARILY */
    box-sizing: border-box;

    width: 100%;

    margin: 0;
    padding: 0;

    border-bottom: 1px solid black;

    background-color: var(--accentColour);

    font-size: 18pt;
}
#category-menu ul
{
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    text-align: left;
}
#category-menu li
{
    display: inline-block;
    box-sizing: border-box;

    margin:0;
    padding: 20px;
}
#category-menu li:hover
{
    cursor: pointer;
    background-color: rgb(60, 48, 172);
}

/*
* Projects
*/

.row
{
    box-sizing: border-box;
    display: flex;

    width: 100%;
}

.column
{
    box-sizing: border-box;
    flex: 50%;
}

.column img
{
    width: 100%;
    height: auto;
}

#filter
{
    display: none; /* DISABLED TEMPORARILY */
    box-sizing: border-box;
    flex: 25%;
    position: sticky;
    top: 25;

    max-height: 900px;

    margin: 2%;
    padding: 20px;

    border: 2px solid var(--accentColour);
    border-radius: 25px;

    background-color: rgb(240, 240, 240);

    color: black;
}
#filter h1
{
    border-bottom: 1px solid black;

    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 24pt;

    text-align: center;
}

#projects
{
    box-sizing: border-box;
    flex: 75%;

    margin: 2% 3%;
}

.project
{
    box-sizing: border-box;

    margin-bottom: 20px;
    padding: 20px;

    background-color: rgb(240, 240, 240);

    border: 2px solid var(--accentColour);
    border-radius: 25px;

    color: black;
}

.project-title
{
    border-bottom: 1px solid black;

    font-family: 'Montserrat', sans-serif;
    font-size: 24pt;

    text-align: center;
}

.project-date
{
    margin: 10px 0px;
    padding: 3px;

    background-color: var(--accentColour);

    color: white;

    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;

    text-align: center;
}

.project-content
{
    box-sizing: border-box;

    margin: 10px 0px;
}

.project-image
{
    box-sizing: border-box;
    flex: 25%;

    max-width: 400px;
    min-width: 200px;

    margin: auto;
}
.project-image img
{
    border: 2px solid black;
    border-radius: 10px;
}

.project-description
{
    box-sizing: border-box;

    padding: 0px 20px;
}

.project-links img
{
    width: auto;
    height: 32px;
}

.project-tags
{
    box-sizing: border-box;

    margin: 10px 0;

    font-style: oblique;
}

.expand
{
    display: none; /* DISABLED TEMPORARILY */
    box-sizing: border-box;

    width: 100%;

    margin-top: 10px;
    padding: 10px;

    background-color: silver;

    text-align: center;
}