body
{
	background-color: rgb(34, 34, 34);
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 1.5em;
}

a, a:visited
{
	text-decoration: none;
	color: rgb(218, 64, 53);
}
a:hover, a:active
{
	color: rgb(80, 22, 22);
}

.title
{
	padding: 2px 0px;
	background-color: rgb(97, 97, 97);
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	min-width: 400px;
}

.emphasis
{
	text-transform: uppercase;
	color: rgb(218, 64, 53);
}

.superEmphasis
{
	font-size: 64px;
}

#introPanel
{
	margin: 0 5%;
	padding: 5% 15%;
	color: rgb(255, 255, 255);
	font-family: monospace;
	height: 60%;
	min-height: 20em;
	min-width: 600px;
}

#introLinks
{
	border-radius: 10%;
	width: 20%;
	text-align: center;
	background-color: rgb(97, 97, 97);
	margin: 15px auto;
	padding: 5px;
	padding-top: 15px;
}

.grid
{
	display: flex;
	background-color: #eeeeee;
	border-bottom: 3px solid #111111;
}

.grid-cell
{
	flex: 1;
	min-width: 400px;
	background-color: #eeeeee;
	padding: 5px;
}

.screenshot
{
	width: 48%;
	height: auto;
}

.profileButton
{
	width: 32px;
	height: auto;
}

.projectTitle
{
	padding: 5px;
	border-bottom: 2px solid silver;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;
}
